<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
    <title>06_列表渲染_过滤与排序</title>
</head>
<body>

<div id="test">
    <input type="text" v-model="searchName">
    <ul>
        <li v-for="(p,index) in filterPersons" :key="index">
            {{index}}--{{p.name}}-- {{p.age}}
        </li>
    </ul>

    <button @click="setOrderType(1)">年龄升序</button>
    <button @click="setOrderType(2)">年龄降序</button>
    <button @click="setOrderType(0)">原本顺序</button>

</div>

<!--<script src="https://cdn.jsdelivr.net/npm/vue@2.5.0/dist/vue.js"></script>-->
<script type="text/javascript" src="../js/vue.js"></script>
<script type="text/javascript">
new Vue({
    el:'#test',
    data:{
        searchName:'',
        orderType:0,// 0代表不排序, 1代表降序, 2代表升序
        persons: [
            {name: 'Tom', age:18},
            {name: 'Jack', age:17},
            {name: 'Bob', age:19},
            {name: 'Mary', age:16}
        ]
    },
    computed:{
        filterPersons(){
            const {searchName,persons,orderType} = this
            let fPersons;
            // 过滤
            fPersons = persons.filter(p => p.name.indexOf(searchName) !== -1);
            // 排序
            if (orderType!==0){
                fPersons.sort(function (p1,p2) {
                    if (orderType===2){
                        return p2.age - p1.age
                    }else {
                        return p1.age - p2.age
                    }

                })
            }
            return fPersons
        }
    },
    methods:{
        setOrderType(orderType){
            this.orderType = orderType
        }
    }
})

</script>
</body>
</html>
